# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/.idea

/.libs/
/autom4te.cache/
/build/
/cmake-build-debug/
/include/
/modules/
/tests/
/acinclude.m4
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.m4
/config.nice
/config.status
/config.sub
/configure
/configure.in
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/missing
/mkinstalldirs
/run-tests.php
/.deps
